@font-face {
  font-family: "iconfont"; /* Project id 4592655 */
  src: url('//at.alicdn.com/t/c/font_4592655_8ngx55v8cqt.eot?t=1728393545679'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_4592655_8ngx55v8cqt.eot?t=1728393545679#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_4592655_8ngx55v8cqt.woff2?t=1728393545679') format('woff2'),
       url('//at.alicdn.com/t/c/font_4592655_8ngx55v8cqt.woff?t=1728393545679') format('woff'),
       url('//at.alicdn.com/t/c/font_4592655_8ngx55v8cqt.ttf?t=1728393545679') format('truetype'),
       url('//at.alicdn.com/t/c/font_4592655_8ngx55v8cqt.svg?t=1728393545679#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-header-logo:before {
  content: "\e600";
}

.icon-mimadenglu:before {
  content: "\e662";
}

.icon-zhuce1:before {
  content: "\e6ae";
}

.icon-en:before {
  content: "\e6c1";
}

.icon-cn:before {
  content: "\ec6b";
}

.icon-denglu:before {
  content: "\e69e";
}

.icon-zhuce:before {
  content: "\e68e";
}

.icon-return_top:before {
  content: "\e61c";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-yueliang:before {
  content: "\e627";
}

.icon-taiyang:before {
  content: "\e661";
}
